# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Training Data

In [2]:
training_dataframe = pd.read_csv(filepath_or_buffer="./data/TrainingSet.csv")
print('Total number of training records',len(training_dataframe))

Total number of training records 3722

In [3]:
training_dataframe.head(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V211,V212,V213,V214,V215,V216,V217,V218,V219,Machine_State
0,NaN,5.135988,5.00000,5.28125,0.058368,2059.53125,0.109375,NaN,5.135988,5.00000,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Good
1,NaN,5.908042,5.75000,6.09375,0.063232,2369.12500,0.109375,NaN,5.908042,5.75000,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,Good
2,0.000000,9.244870,0.18750,13.75000,3.890521,3707.19305,12.912530,0.000000,9.244870,0.18750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
3,0.193750,18.247452,1.43750,20.25000,3.328545,7317.22805,14.437520,0.193750,18.247452,1.43750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
4,0.193750,21.642090,1.43750,25.59380,6.094741,8678.47815,21.615660,0.193750,21.642090,1.43750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
5,0.000000,13.808703,0.21875,17.84380,4.663764,5537.28990,16.975020,0.000000,13.808703,0.21875,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
6,0.193750,22.206460,1.53125,28.34380,7.082486,8904.79040,23.596900,0.193750,22.206460,1.53125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
7,0.190625,41.307771,1.37500,51.65630,12.496181,16564.41625,39.865660,0.190625,41.299898,1.37500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
8,0.218750,43.775354,1.68750,50.90630,9.993441,17553.91690,40.143760,0.218750,43.768028,1.68750,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good
9,0.200000,62.942512,1.59375,78.53130,18.670003,25239.94735,64.371895,0.200000,62.942746,1.59375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Good

In [4]:
training_dataframe.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V210,V211,V212,V213,V214,V215,V216,V217,V218,V219
count,3666.000000,3722.000000,3722.000000,3722.000000,3722.000000,3722.000000,3722.000000,3666.000000,3722.000000,3722.000000,...,3722.000000,3722.000000,3722.000000,3666.000000,3722.000000,3722.000000,3722.000000,3722.000000,3722.000000,3722.000000
mean,0.266931,12.798785,0.822130,17.949045,4.597484,5132.068836,13.805802,0.266604,12.747066,0.821811,...,42.768652,-0.037076,0.643070,0.052535,0.060923,-0.011771,0.135434,0.036057,24.431609,0.001456
std,0.747814,14.201282,1.757249,20.823095,5.615069,5694.037354,17.475270,0.747253,13.907966,1.756789,...,157.108984,0.221652,0.269465,0.218745,0.224290,0.219181,0.264025,0.047914,89.947533,0.110434
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-52.215660,0.000000,0.000000,0.000000,...,-923.523040,-3.001175,0.000000,-1.341688,-0.909258,-1.341740,-0.725586,0.000000,-364.612598,-0.693518
25%,0.000000,3.372857,0.000000,5.234375,1.016262,1352.515625,0.164844,0.000000,3.372857,0.000000,...,-32.239821,-0.102240,0.571289,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,9.692382,0.187500,13.781300,3.467487,3892.632300,9.604720,0.000000,9.690276,0.187500,...,3.481622,0.000000,0.750977,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.193750,17.999983,1.093750,24.875000,6.266688,7214.048488,19.999239,0.193750,18.008946,1.093750,...,120.532097,0.057480,0.822266,0.065958,0.063689,0.000000,0.231460,0.067870,25.539183,0.000000
max,26.703160,140.267266,40.531300,203.219000,58.925476,56247.173450,167.475175,26.696900,115.649522,40.531300,...,800.041110,1.062738,0.904297,0.974005,0.987967,0.766907,1.136720,0.333398,396.174863,0.725586

# All the attributes have significant sd

In [5]:
np.array(training_dataframe.describe().loc['std'])<0.001

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False], dtype=bool)

# Max number of Nones in a Columns

In [6]:
training_dataframe.isnull().sum().max()

56

# Columns having at least one None Value

In [7]:
null_column_series = training_dataframe.isnull().sum()>0
null_column_names = list(null_column_series[null_column_series].index)
print("Column Name -> None Counts :\n",training_dataframe[null_column_names].isnull().sum(),'\n')
print("Number of Columns having None : ",len(null_column_names),'\n')
print("Column Names containing at least one None value : \n",null_column_names)

Column Name -> None Counts :
 V1               56
V8               56
V15              56
V22              56
V29              56
V36              56
V43              56
V50              56
V57              56
V64              56
V71              56
V78              56
V85              56
V92              56
V99              56
V106             56
V113             56
V120             56
V127             56
V134             56
V141             56
V148             56
V155             56
V162             56
V169             56
V176             56
V183             56
V190             56
V197             56
V205             56
V213             56
Machine_State    19
dtype: int64

Number of Columns having None :  32

Column Names containing at least one None value :
 ['V1', 'V8', 'V15', 'V22', 'V29', 'V36', 'V43', 'V50', 'V57', 'V64', 'V71', 'V78', 'V85', 'V92', 'V99', 'V106', 'V113', 'V120', 'V127', 'V134', 'V141', 'V148', 'V155', 'V162', 'V169', 'V176', 'V183', 'V190', 'V197', 'V205', 'V213', 'Machine_State']

# Number of rows having None Values

In [8]:
null_rows = training_dataframe.isnull().sum(axis=1)>0
print(len(null_rows[null_rows]))

75

In [9]:
feature_none_column_rows = training_dataframe.isnull().sum(axis=1)==31
print("Number of Rows having all 31 columns as None: ",len(feature_none_column_rows[feature_none_column_rows]))
decision_none_column_rows = training_dataframe.isnull().sum(axis=1)==1
print("Number of Rows having all 1 columns as None: ",len(decision_none_column_rows[decision_none_column_rows]))

Number of Rows having all 31 columns as None:  56
Number of Rows having all 1 columns as None:  19

# Missing data percentage wrt decision column

In [10]:
missing_percentage = len(decision_none_column_rows[decision_none_column_rows])*100/len(training_dataframe)
print("missing data percentage: %0.2f"%missing_percentage,"%")

missing data percentage: 0.51 %

In [11]:
non_null_rows = training_dataframe.isnull().sum(axis=1)==0
print(len(non_null_rows[non_null_rows]))
non_null_rows_index = non_null_rows[non_null_rows].index

3647

# Select only those row for which 'Machine_State' has valid value

In [12]:
decision_states = ['Good','Bad']
decision_attribute_name = 'Machine_State'
training_dataframe_cleaned = training_dataframe[training_dataframe[decision_attribute_name].isin(decision_states)]

In [13]:
print("Original Training dataframe size : ",len(training_dataframe))
print("Cleaned Training dataframe size : ",len(training_dataframe_cleaned))
print("Number of rows dropped : ", len(training_dataframe)-len(training_dataframe_cleaned))

Original Training dataframe size :  3722
Cleaned Training dataframe size :  3703
Number of rows dropped :  19

# Save the Cleaned Training Data

In [14]:
training_dataframe_cleaned.to_csv("./data/cleaned_training_data.csv",index=False)